{% extends 'blog/base.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>liste des articles </title>
</head>
<body>
    {% block content %}

        <div class="container mb-3">
            <h1 class="text-center">Liste des articles</h1>
        </div>

        <div class="container mb-3" >
            <a href="{% url 'article-create'%}" class="btn btn-primary">Ajouter un article </a>
        </div>

        <div class="container">
                {% for article in articles  %}


                    <div class="card" style="width: 18rem;">
                        <img src="{{article.image}}" class="card-img-top" alt="...">
                         <div class="card-body">
                             <h5 class="card-title">{{article.titre}}</h5>
                             <p class="card-text">{{article.description}}</p>
                             <p class="card-text">{{article.auteur}}</p>
                             <a href="/article/{{article.id}}" class="btn btn-primary">Details</a>
                         </div>
                    </div>
                    <td><a href="{% url 'article_update' article.id %}">editer</a></td>
                    <td><a href="{% url 'article_delete' article.id %}">supprimer</a></td>

                {% endfor %}
        </div>


    {% endblock %}

</body>
</html>
