{% extends 'blog/base.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>liste des articles </title>
</head>
<body>
{% block content %}
<h1>Liste des articles</h1>

<table>
    <thead>
        <tr>
            <th>titre</th>
            <th>description</th>
            <th>auteur</th>
            <th>details</th>
        </tr>

    </thead>

    <tbody>
        {% for article in articles  %}
        <tr>
            <td>{{article.titre}}</td>
            <td>{{article.description}}</td>
            <td>{{article.auteur}}</td>
            <td><a href="/article/{{article.id}}">detail</a></td>
        </tr>
    </tbody>



{% endfor %}

</table>
{% endblock %}

</body>
</html>
